{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "current"
        },
        "modules": false,
        "useBuiltIns": "usage",
        "shippedProposals": true,
        "corejs": { "version": "3.15", "proposals": true }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
